.u-section-1 .u-sheet-1 {
  min-height: 712px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 206px auto 0 21px;
}

.u-section-1 .u-icon-1 {
  margin-top: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -15px auto 0;
}

.u-section-1 .u-form-1 {
  height: 217px;
  width: 570px;
  margin: 49px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  padding: 10px 237px 10px 236px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 224px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 48px;
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 264px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 278px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: 15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}