.u-section-1 .u-sheet-1 {
  min-height: 1189px;
}

.u-section-1 .u-table-1 {
  width: 710px;
  margin: 235px 198px 0 auto;
}

.u-block-235b-13 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-6 {
  width: 616px;
  margin: 60px auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-7 {
  width: 616px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 60px auto;
}

.u-section-1 .u-table-cell-8 {
  width: 616px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 60px auto;
}

.u-block-235b-22 {
  height: 46px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 29px 360px 60px auto;
  padding: 10px 150px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.8572em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-top: 227px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 72px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-3 {
    margin-top: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-table-cell-6 {
    width: 540px;
  }

  .u-section-1 .u-table-cell-7 {
    width: 540px;
  }

  .u-section-1 .u-table-cell-8 {
    width: 540px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1563px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-table-cell-6 {
    width: 340px;
  }

  .u-section-1 .u-table-cell-7 {
    width: 340px;
  }

  .u-section-1 .u-table-cell-8 {
    width: 340px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
    padding-right: 128px;
    padding-left: 126px;
  }
}