.u-section-1 .u-sheet-1 {
  min-height: 752px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 238px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 477px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 11px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 6px 0 0;
}

.u-section-1 .u-form-1 {
  height: 214px;
  margin: 49px 0 0 5px;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 9px 84px 11px 83px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 477px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 448px;
  height: 356px;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-1 .u-form-1 {
    width: 435px;
    margin-top: 26px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 489px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 325px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-1 .u-image-1 {
    width: 346px;
    height: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 563px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 270px;
  }
}