.u-section-1 .u-sheet-1 {
  min-height: 1034px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 41px;
  margin-bottom: 41px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 508px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 28px 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: -2px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 16px auto 0 4px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 15px 253px 0 4px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 467px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 27px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 83px 342px 0 0;
}

.u-section-1 .u-image-1 {
  width: 166px;
  height: 166px;
  margin: 2px 53px 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: -125px 249px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 350px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: 0 21px;
}

.u-section-1 .u-image-2 {
  min-height: 537px;
  background-image: url("images/1679103762450.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 153px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 233px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 148px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -291px;
    margin-right: 171px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 289px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 28px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -9px;
    margin-right: 67px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -125px;
    margin-right: 331px;
    margin-left: 14px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    min-height: 679px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 305px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 39px;
    margin-right: 199px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -18px;
    margin-right: 47px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -121px;
    margin-right: 219px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-2 {
    min-height: 509px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 19px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 134px;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: -273px;
    margin-right: 39px;
    margin-left: -2px;
  }

  .u-section-1 .u-image-2 {
    min-height: 320px;
  }
}